.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-top: 2rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.buttons {
  background-color: green;
  padding: 12px;
  border: 0;
  border-radius: 20px;
  color: white;
}

.grid_center {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col_center {
  text-align: center;
}

.margin_bottom {
  margin-bottom: 10px;
}
